---
# Handlers for local role

- name: Restart sing-box (launchd)
  ansible.builtin.shell: |
    launchctl stop com.sing-box 2>/dev/null || true
    sleep 1
    launchctl start com.sing-box
  when: local_runtime == 'launchd'
  changed_when: false
  check_mode: false

- name: Load sing-box (launchd)
  ansible.builtin.command:
    cmd: launchctl load {{ ansible_env.HOME }}/Library/LaunchAgents/com.sing-box.plist
  when: local_runtime == 'launchd'
  register: local_launch_load
  failed_when: false
  changed_when: false
  check_mode: false

- name: Unload sing-box (launchd)
  ansible.builtin.command:
    cmd: launchctl unload {{ ansible_env.HOME }}/Library/LaunchAgents/com.sing-box.plist
  when: local_runtime == 'launchd'
  register: local_launch_unload
  failed_when: false
  changed_when: false
  check_mode: false

- name: Restart sing-box (docker)
  ansible.builtin.command: docker restart {{ local_docker_container_name }}
  when: local_runtime == 'docker'
  changed_when: false
  check_mode: false

- name: Restart sing-box (brew)
  ansible.builtin.command: /opt/homebrew/bin/brew services restart sing-box
  when: local_runtime == 'brew'
  changed_when: false
  check_mode: false
