---
- name: Создать каталог /etc/sing-box
  ansible.builtin.file:
    path: /etc/sing-box
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Обновить конфигурацию sing-box
  ansible.builtin.template:
    src: config.json.j2
    dest: /etc/sing-box/config.json
    owner: root
    group: root
    mode: '0644'
    backup: true
  notify: restart_sing_box

- name: Проверить, включён ли автозапуск sing-box
  ansible.builtin.find:
    paths: /etc/rc.d
    patterns: 'S*sing-box'
    file_type: link
  register: sing_box_autostart

- name: Включить автозапуск sing-box
  ansible.builtin.command:
    cmd: /etc/init.d/sing-box enable
  when: sing_box_autostart.matched == 0
  changed_when: true
