# {{ ansible_managed }}
{% set ipv6_enabled = router_ipv6_enabled | default(false) %}
{% set packet_steering = router_packet_steering | default(true) %}
{% set wan_mac = router_network_wan_mac | default('') %}
{% set vpn_enabled = router_vpn_enabled | default(true) %}

config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
{% if ipv6_enabled %}
	option ula_prefix 'fd51:3af7:06f2::/48'
{% endif %}
{% if packet_steering %}
	option packet_steering '1'
{% endif %}

config device
	option name 'br-lan'
	option type 'bridge'
	list ports 'lan1'
	list ports 'lan2'
	list ports 'lan3'

config interface 'lan'
	option device 'br-lan'
	option proto 'static'
	option ipaddr '{{ router_network_lan_ipaddr | default("192.168.1.1") }}'
	option netmask '{{ router_network_lan_netmask | default("255.255.255.0") }}'
{% if ipv6_enabled %}
	option ip6assign '60'
{% else %}
	option ipv6 '0'
{% endif %}

config device
	option name 'wan'
{% if wan_mac %}
	option macaddr '{{ wan_mac }}'
{% endif %}

config interface 'wan'
	option device 'wan'
	option proto '{{ router_network_wan_proto | default("dhcp") }}'
	option peerdns '0'
	option dns '8.8.8.8 1.1.1.1'
{% if not ipv6_enabled %}
	option ipv6 '0'
	option delegate '0'
{% endif %}

{% if ipv6_enabled %}
config interface 'wan6'
	option device 'wan'
	option proto 'dhcpv6'
	option reqaddress 'try'
	option reqprefix 'auto'
{% endif %}

{% if vpn_enabled %}
# VPN routing table with fallback to WAN
config route 'vpn_fallback'
	option interface 'wan'
	option target '0.0.0.0/0'
	option table 'vpn'
	option metric '1000'

config rule
	option name 'mark0x1'
	option mark '0x1/0x1'
	option priority '100'
	option lookup 'vpn'
{% endif %}
